
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.blank {
    background-color: #4c0080;
    height: 30px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}   

.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.logo-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    


}

.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 50px;
    text-align: right;
    width: 100%;
    margin: 0;
}
.home {
    padding: 2px 5%;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lsg-logo{ 
  text-align:start;
  padding-top: 5px;
  display:flex;
  font-size: larger;
}
.work{
    margin: 20px;
    padding-left: 10px;
    text-align: center;
    margin-top: 10PX;
    margin-bottom: 10PX;
    background-color: #ffff99;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffcc;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat-1{
    margin-right: -230px;
  }
.bat{
    margin-right: -250px;
    padding-left: 210px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top:auto;
    background-color: #2d2e33;
    padding: 40px 10%;
    
}
ul {
    list-style: none;
}

.footer-col {
    padding-top: 20px ;
    margin-right: 30px;
    width: 26%;
    text-decoration: none;
}
.footer-col h4{
    position:static;
    margin-bottom: 30px;
    font-weight: 350;
    font-size: 20px;
    color: #f1bc0d;
    text-transform: capitalize;
    margin-left: 45px;
    text-decoration: none;
}






.links a{
    display: inline-block;
    flex-direction: ;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(9, 102, 189, 0.8);
    margin: 0 9px 9px 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover{
    color: #4d4f55;
    background-color: white;
}
@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col h4 {
        position: static;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 22px;
        color: #f1bc0d;
        text-transform: capitalize;
    }
}
.footer-info {
    padding: 10px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
    margin-right: 40px;
}


ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a:hover{
    color: white;    
    padding-left: 3px;
}
ul img {
    height: 70px;
    background-color: #4d4f55;
    color: white;
    border-radius: 50%;

}
  /* Small Devices */
  
  @media screen and  (max-width: 600px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .lsg-logo{
        display: none;
    }
    .card{
        margin-top: 50px;
    }
    @media screen and (min-width: 616px) and (max-width: 768px) {
        .video {
            width: 580px;
        }
    
        .footer-col {
            padding-top: 20px;
            margin-right: 30px;
            width: 50%;
            text-align: center;
            margin-left: 20%;
        }
    }

    .footer-col h4::before{
        all: unset;
    }
    .logo-info {
        font-size: 5px;
        display: flex;

    }

    .nav-logo {
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
    }  
    .captain{
        margin-left:-220px;
      }
      .bat-1{
        margin-right: -200px;
      }
    .bat{
        margin-right: -200px;
        padding-left: 180px;
    }
}
          /* Normal Devices */
  
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .card{
        margin-top: 50px;
        margin-left: 5px;
        height: fit-content;
    }
    .nav-bar {
        height: 70px;
    }

    .card {
        width: 180px;
        height: 100;
    }

    .logo-info {
        font-size: 15px;
        display: flex;
        text-align: center;
        align-items: center;
    }   
    .captain{
        margin-left:-100px;
      }
      .bat-1{
        margin-right: -100px;
      }
    .bat{
        margin-right: -100px;
        padding-left: 100px;
    }
}
@media screen and (min-width: 616px) and (max-width: 768px) {
    .video {
        width: 580px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }
}

/*  Tablet Devices */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 200px;
        margin-left: 40px;
        margin-top: 150px;
    }
    .captain{
        margin-left:-200px;
      }
      .bat-1{
        margin-right: -180px;
      }
    .bat{
        margin-right: -170px;
        padding-left: 150px;
    }
    .logo-info {
        font-size: large;
    }

    .card-info {
        margin: 50px;
    }
}
@media screen and (min-width: 616px) and (max-width: 768px) {
    .video {
        width: 580px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 250px;
        margin-left: 80px;
        margin-top: 200px;
    }
}
.links a:hover {
    color: #4d4f55;
    background-color: white;
}
@media screen and (min-width: 616px) and (max-width: 768px) {
    .video {
        width: 580px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }
}

/* Dekstop device */








