body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
}

.logo-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 2px 20px;
    display: block;
    top: 70px;
    align-items: center;
    position: sticky;
    text-align: end;
}

.home {
    padding: 2px 5%;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

h3{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    margin: 3% 0;
    text-shadow: 5px 2px#88ff4d;
    font-size: 30px;
}

.video-container {
    background-color: aliceblue;
    margin: 10px 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-card {
    margin: 10px 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video {
    width: 600px;
}



.table th {
    border: 1px solid #4d4f55;
    padding: 8px;
}

.table th {
    background-color: rgb(94, 94, 105);
}

.table tr:nth-child(even) {
    background-color: lightgrey;
}

.table tr:hover {
    background-color: rgb(179, 179, 181);
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table tr td img {
    height: 30px;
    border-radius: 30px;
    padding-left: 40px;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.2;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 40px 5%;

}

ul {
    list-style: none;
}

.footer-col {
    padding-top: 10px;
    margin-right: 5px;
    width: 24%;
}

.footer-col h4 {
    position: static;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}

ul img {
    height: 70px;
    background-color: #4d4f55;
    color: white;
    border-radius: 50%;

}

.footer-logo {
    height: 50px;
    background-color: rgba(40, 130, 214, 0.8);
    border-radius: 50%;
}

.footer-con-logo {
    height: 25px;
    border-radius: 20px;
}
.map{
       margin-left: 30%;
}
/* Mobile Devices */
@media(max-width:555px) {
    h2 {
        font-size: 30px;
    }

    .video {
        width: 100px;
    }

    .table td,
    .table th {
        border: 1px solid #4d4f55;
        padding: 7px;
    }

    .footer-col {
        width: 100%;
    }

    .logo-info {
        font-size: 13px;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .map{
        margin-left:30px;
        width: 400px;
        height: 250px;
    }
}

@media(max-width: 740px) {
    h2 {
        font-size: 30px;
    }

    .video {
        width: 350px;
        height: 250px;
    }

    .table td,
    .table th {
        border: 1px solid #4d4f55;
        padding: 7px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }

    .footer-col h4::before {
        all: unset;
    }
    .map{
        margin-left:30px;
        width: 400px;
        height: 250px;
    }
}

@media screen and (min-width: 616px) and (max-width: 768px) {
    .video {
        width: 580px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }
    .map{
        margin-left:30px;
        width: 400px;
        height: 300px;
    }
}
/* Tablet Devices */

@media screen and (min-width: 769px) and (max-width: 935px) {
    .video {
        width: 750px;
    }

    .footer-col {
        padding-top: 20px;
        margin-right: 30px;
        width: 50%;
        text-align: center;
        margin-left: 20%;
    }
    .map{
        margin-left:20%;
        width: 500px;
        height: 450px;
    }
}

/* Dekstop device */    
@media screen and (min-width:936px) and (max-width: 1055px) {
    .video {
        width: 800px;
    }

    .footer-col {
        padding-top: 10px;
        margin: 10px;
        width: 24%;
    }
    .map{
        margin-left:25%;
        width: 500px;
        height: 450px;
    }
}

@media screen and (min-width:1056px) and (max-width: 1500px) {
    .video {
        width: 500px;
    }

    .footer-col {
        margin-right: 10px;
        width: 30%;
    }
   
    .map{
        margin-left:30%;
        width: 600px;
        height: 450px;
    }

}
@media screen and (min-width:1501px) and (max-width: 2000px){
    .map{
        margin-left:30%;
        width: 600px;
        height: 450px;
    }
}