.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
    color: azure;
}
.lsg{
  background-color: #1f3d7a;   
  text-align:center;
  color: white; 
  display:flex;
}
.work{
    margin: 20px;
    padding-left: 10px;
    text-align: start;
    margin-top: 10PX;
    margin-bottom: 10PX;
    background-color: aliceblue;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat-1{
    margin-right: -230px;
  }
.bat{
    margin-right: -250px;
    padding-left: 210px;
}
