.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
    color: azure;
}
.lsg-logo{ 
  text-align:start;
  padding-top: 5px;
  display:flex;
}
.work{
    margin: 20px;
    padding-left: 10px;
    text-align: start;
    margin-top: 10PX;
    margin-bottom: 10PX;
    background-color: aliceblue;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat-1{
    margin-right: -230px;
  }
.bat{
    margin-right: -250px;
    padding-left: 210px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top:auto;
    background-color: #2d2e33;
    padding: 20px 8%;
    text-decoration: none;
}

.footer-col{
    padding-top: 5px ;
    margin-right: 10px;
    width: 26%;
    text-decoration: none;
}
.footer-col h4{
    position:static;
    margin-bottom: 30px;
    font-weight: 350;
    font-size: 20px;
    color: #f1bc0d;
    text-transform: capitalize;
    margin-left: 45px;
    text-decoration: none;
}
@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}
.footer-info {
    padding: 10px;
}
.links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 9px 9px 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover{
    color: #4d4f55;
    background-color: white;
}
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
    margin-right: 40px;
}


ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a:hover{
    color: white;
    padding-left: 3px;
}
