body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.blank {
    background-color: #4c0080;
    height: 30px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}   

.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
}

.logo-info {
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-shadow: 2px 2px 5px red;
}
.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 5px 20px;
    display: flex;
    margin-top: -10px;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 70px;
    text-align: right;
}
.home {
    padding: 2px 20px;
    text-decoration: underline;
}

.nav-logo{
    height: 70px;
    display:flex;
    justify-content: start;
}

.nav-item {
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table, td, th {  
        border: 1px solid #ddd;
        text-align: center;
        align-items: center;
        background-color: #8cb3d9;
      }
      
      table {
        border-collapse: collapse;
        width: 50%;
      }
      
       th {
        padding: 15px;
      }
.table-content{
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
}    

.nav-item:hover {
    background-color: #b300b3;
}
.lsg-logo{ 
  text-align:start;
  padding-top: 3px;
  display:flex;
  font-size: larger;
}
.work{
    margin: 20px;
    padding-left: 10px;
    text-align: start;
    margin-top: 50PX;
    margin-bottom: 50PX;
    text-align: center;
    color:#3366cc;
    text-shadow: 2px 2px 5px #8cb3d9;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    background-color: #ecf2f9;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
    align-content: space-evenly;
    text-shadow: 2px 2px 5px white;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat-1{
    margin-right: -230px;
  }
.bat{
    margin-right: -250px;
    padding-left: 210px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 40px 10%;

}

ul {
    list-style: none;
}

.footer-col {
    padding-top: 10px;
    margin-right: 10px;
    width: 24%;
}

.footer-col h4 {
    position: static;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}

ul img {
    height: 70px;
    background-color: #4d4f55;
    color: white;
    border-radius: 50%;

}
@media screen and  (min-width: 267px) and (max-width:299px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .lsg-logo{
        display: none;
    }
    .card{
        margin-top: 50px;
        height: fit-content;
        width: fit-content;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
    .logo-info {
        font-size:small;
    }
    .nav-logo {
        width: 100px;
        height: 80px;
        display: flex;
        font-size: small;
        align-items: center;
    }  
    .captain{
        margin-left:-180px;
      }
      .bat-1{
        margin-right: -180px;
      }
    .bat{
        margin-right: -180px;
        padding-left: 160px;
    }
}

/* Small Devices */
  
@media screen and  (min-width: 300px) and (max-width:615px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .lsg-logo{
        display: flex;
    }
    .card{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
    .logo-info {
        font-size:medium;
    }
    .nav-logo {
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
    }  
    .captain{
        margin-left:-220px;
      }
      .bat-1{
        margin-right: -200px;
      }
    .bat{
        margin-right: -200px;
        padding-left: 180px;
    }
}
          /* Normal Devices */
  
  @media screen and (min-width: 616px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .card{
        margin-top: 50px;
        margin-left: 5px;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-bar {
        height: 70px;
    }

    .card {
        width: 180px;
        height: 100;
        justify-content: space-between;
    }

    .logo-info {
        font-size:medium;
    }    
    .captain{
        margin-left:-100px;
      }
      .bat-1{
        margin-right: -100px;
      }
    .bat{
        margin-right: -100px;
        padding-left: 100px;
    }
}

/*  Tablet Devices */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 250px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
    .captain{
        margin-left:-200px;
      }
      .bat-1{
        margin-right: -180px;
      }
    .bat{
        margin-right: -170px;
        padding-left: 150px;
    }
    .logo-info {
        font-size: large;
    }

    .card-info {
        margin: 50px;
    }
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
    .logo-info {
        font-size: large;
    }
}

/* Dekstop device */

@media screen and  (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
    }
    .logo-info {
        font-size: large;
    }

}