body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.rcb-logo{ 
    text-align:start;
    padding-top: 5px;
    display:flex;
    font-size: larger;
  }
  .blank {
    background-color: #4c0080;
    height: 30px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}   

.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
}

.logo-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 2px 20px;
    display: block;
    top: 70px;
    align-items: center;
    position: sticky;
    text-align: end;
}

.nav-item {
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #b300b3;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    background-color: #000066;
    color:antiquewhite;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
   th {
    padding: 15px;
  }
  .table-content{
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom:40px;
  }
#content{
    margin: 20px;
    padding-left: 10px;
    text-align: center;
    margin-top: 10PX;
    margin-bottom: 10PX;
    background-color: aliceblue;
    color:#000066;
    text-shadow: 2px 2px 5px #303dec;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
   margin-right: 4.5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat{
    margin-right: -250px;
    padding-left: 210px;

}
  .bat-1{
    margin-right: -230px;
  }
  .allrounder{
    margin-right: -250px;
    padding-left: 210px;
}
  .allrounder-1{
    margin-right: -230px;
  }
  .ball{
    margin-right: -250px;
    padding-left: 210px;
}
  .ball-1{
    margin-right: -230px;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    margin-top:auto;
    background-color: #2d2e33;
    padding: 40px 10%;
    text-decoration: none;
}
ul{
    list-style: none;
}

.footer-col{
    padding-top: 20px ;
    margin-right: 30px;
    width: 26%;
    text-decoration: none;
}
.footer-col h4{
    position:static;
    margin-bottom: 30px;
    font-weight: 350;
    font-size: 20px;
    color: #f1bc0d;
    text-transform: capitalize;
    margin-left: 40px;
    text-decoration: none;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
}
#links {
    display:inline-block;
    height: 47px;
    width: 47px;
    background-color: white;
    margin: 0 8px 8px 0;
    text-align: center;
   border-radius: 50%;
    transition: 0.4s;
    border:1px white solid;
    cursor:pointer;
    margin-left: 3px;
}
#link img{
    height:20px;
    width:20px;
}
#links:hover{
    background-color: #e2e3ea;
   
    cursor: pointer;

}
.footer-con-logo {
    height: 25px;
    border-radius: 20px;
}


@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}
.footer-info {
    padding: 10px;
}
.links a{
    display: none;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 9px 9px 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover{
    color: #4d4f55;
    background-color: white;
}
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
    margin-right: 40px;
}


ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a:hover{
    color: white;
    padding-left: 3px;
}
  /* Small Devices */
  
  @media screen and  (max-width: 600px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .rcb-logo{
       margin-top: 20px;
        height:30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav-item {
        background-color: #6600cc;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    #content{
        font-size: 15px;

    }
    .card{
        margin-top: 50px;
        display:block;
      margin-left:10px;
        align-items: center;
        margin-left:36px;
    }
    
   
    .footer-col{
        padding-top: 20px ;
        margin-right: 30px;
        width: 26%;
        text-decoration: none;
    }
    .footer-col h4{
        position:static;
        margin-bottom: 30px;
        font-weight: 350;
        font-size: 20px;
        color: #f1bc0d;
        text-transform: capitalize;
        display: block;
        margin-left:100px;
        text-align: center;
        text-decoration: none;
    }
    
    ul li:not(:last-child) {
        margin-bottom: 8px;
    }
    
    ul li a {
        display: block;
        font-size:15px;
        text-transform: capitalize;
        color: #bdb6b6;
        text-decoration: none;
        transition: 0.4s;
        margin: 0%;
        text-align: center;
        margin:0 auto;
    }
    
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        margin-left:15px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
    #links {
        display:inline-block;
        height: 30px;
        width: 30px;
        background-color: white;
        margin: 0 4px 4px 0;
      align-content: center;
       border-radius: 50%;
        transition: 0.4s;
        border:1px white solid;
        cursor:pointer;
        margin-left: 1px;
    }
    #link img{
        height:20px;
        width:20px;
       
    }
    #links:hover{
        background-color: #e2e3ea;
       
        cursor: pointer;
    
    }
    
    h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .nav-logo {
        width: 50px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }  
    .captain{
        margin-left:-220px;
      }
      .bat-1{
        margin-right: -200px;
      }
      .allrounder-1{
        margin-right: -200px;
      }
      .ball-1{
        margin-right: -200px;
      }
    .bat{
        margin-right: -200px;
        padding-left: 180px;
    }
    .allrounder{
        margin-right: -200px;
        padding-left: 180px; 
    }
    .ball{
        margin-right: -200px;
        padding-left: 180px;
    }
}
          /* Normal Devices */
  
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .nav-logo {
       
        height: 35px;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }  
    .rcb-logo{
       margin-top: 20px;
margin-left: 3px;
margin-right: 3px;

        height:35px;
    }
    .card{
        margin-top: 50px;
        margin-left: 5px;
        height: fit-content;
        align-items: center;
        margin-left:28px;
        margin-right: 20px;
    }
    .nav-bar {
        height: 70px;
    }

    .card {
        width: 180px;
        height: 100;
    }

    .logo-info {
        font-size: 10px;
    }   
    .captain{
        margin-left:-100px;
      }
      .bat-1{
        margin-right: -100px;
      }
      .allrounder-1{
        margin-right: -100px;
      }
      .ball-1{
        margin-right: -100px;
      }
    .bat{
        margin-right: -100px;
        padding-left: 100px;
    }
    .allrounder{
        margin-right: -100px;
        padding-left: 100px;
    }
.ball{
    margin-right: -100px;
    padding-left: 100px; 
}
.footer-col{
    width: 50%;
    margin-bottom: 30px;
margin-left:60px;
}

.footer-col h4::before{
    all: unset;

}
ul li a {
    display: block;
    font-size:16px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
    margin: 0%;
    text-align: center;
    margin:0 auto;
}
#links {
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 4px 4px 0;
  align-items: center;
   border-radius: 50%;
    transition: 0.4s;
    border:1px white solid;
    cursor:pointer;
    margin-left: 2px;
}
#link img{
    height:25px;
    width:25px;
   
}
  }
/*  Tablet Devices */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 200px;
        margin-left: 40px;
        margin-top: 150px;
    }
    .captain{
        margin-left:-200px;
      }
      .bat-1{
        margin-right: -180px;
      }
      .allrounder-1{
        margin-right: -180px;
      }
      .ball{
        margin-right: -180px;
      }
    .bat{
        margin-right: -170px;
        padding-left: 150px;
    }
    .allrounder{
        margin-right: -170px;
        padding-left: 150px;
    }
    .ball{
        margin-right: -170px;
        padding-left: 150px;
    }
    .logo-info {
        font-size: large;
    }

    .card-info {
        margin: 50px;
    }
   
}

@media screen and (min-width:993px) and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .card{
        width: 250px;
        margin-left: 80px;
        margin-top: 200px;
    }
}

/* Dekstop device */

@media screen and  (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
    }

}