body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.rcb-logo{ 
    text-align:start;
    padding-top: 5px;
    display:flex;
    font-size: larger;
  }
  .blank {
    background-color: #4c0080;
    height: 30px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}   

.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
}

.logo-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 2px 20px;
    display: block;
    top: 70px;
    align-items: center;
    position: sticky;
    text-align: end;
}

.nav-item {
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #b300b3;
}
.content{
    margin: 20px;
    padding-left: 10px;
    text-align: start;
    margin-top: 10PX;
    margin-bottom: 10PX;
    background-color: aliceblue;
}
.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
  }
  .card {
    box-shadow: 0 4px 8px 0 grey;
    transition: 0.3s;
    text-align: center;
    border: 1px solid black;
    border-radius: 1%;
    height:300px;
    width: 250px;
    margin-top: 20px;
    padding: 20px;
   margin-right: 4.5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;
  }
  .card-img{
    padding-top: 0;
    padding-bottom: 0;

  }
  .captain{
    margin-left:-240px;
  }
  .bat{
    margin-right: -250px;
    padding-left: 210px;

}
  .bat-1{
    margin-right: -230px;
  }