body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
    background-color: #004080;
    background-image: url('./../images/homepageimages/hbg.webp');
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
}

.logo-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    background-color: #4c0080;
    color: white;
    height: 30px;
    padding: 5px 20px;
    display: sticky;
    align-items: center;
    position:sticky;
    text-align:end;
}

.nav-item {
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
     cursor: pointer;
   transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #b300b3;
}

.container {
    background-image: url('./../images/homepageimages/bg.jpg');
    background-size: cover;
    background-color: #c1d0f0;
    height: 85vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    height: 250px;
    background-color: #004080;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:20px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.card:hover{
    background-color:lightslategray;
    cursor: pointer;
   transition: background-color 0.3s ease;
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 60px 60px;
}

.card-info {
    background-color: #004080;
    color: white;
    height: 0%;
    margin: none;
    display: flex;
    text-align: center;
    justify-content: center;

}
.card-info:hover{
    background-color:lightslategray ;
    color: white;
    display: ;
}

.card-title {
    font-size: 50px;

}
.footer{
    background-image: url('./../images/homepageimages/bg.jpg');
    background-size: cover;
    padding: 50px;
    display: flex;
    
}
.footer-info{
    padding: 5px;
}
